body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #242424;
}

* {
    box-sizing: border-box;
}

#webGLCanvas {
    margin: 0;
    width: 80vw;
    height: 70vh;
}

.canvas-wrapper {
    width: fit-content;
    margin-left: 10%;
}

.canvas-wrapper div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 50px;
}

.canvas-wrapper button {
    height: 80%;
    aspect-ratio: 1;
    padding: 0;
    margin-left: 5px;
    background-color: #111111;
    border: none;
    cursor: pointer;
}

.canvas-wrapper img {
    width: 100%;
    height: 100%;
}

#coordDisplay {
    color: white;
    white-space: pre-line;
}

.input-wrapper {
    width: 80%;
    height: 30%;
    margin: 0;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
} 

.input-wrapper label {
    color: white;
}

.input-wrapper select {
    background-color: #111111;
    color: #ffffff;
    caret-color: #ffffff;
    border: none;
}

.input-box {
    background-color: #111111;
    color: #ffffff;
    caret-color: #ffffff;
    border: none;
    width: 100px;
}

.mq-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mqInput {
    width: fit-content;
    font-size: 45px;
    border: 2px solid black;
    background-color: #111111;
    color: #ffffff;
    caret-color: #ffffff;
}

#errorBox {
    color: red;
    font-size: 20px;
    padding: 10px;
}

:root {
    touch-action: pan-x pan-y;
    height: 100%;
}