body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #242424;
}

* {
    box-sizing: border-box;
}

#webGLCanvas {
    margin: 0;
    width: 80vw;
    height: 70vh;
}

.canvas-wrapper {
    width: fit-content;
    margin-left: 10%;
}

.canvas-wrapper div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 50px;
}

button {
    height: 80%;
    aspect-ratio: 1;
    padding: 0;
    margin-left: 5px;
    background-color: #111111;
    border: none;
    cursor: pointer;
}

.mq-inner {
    height: fit-content;
    width: 100%;
    display: flex;
    gap: 2.5px;
    justify-content: center;
    padding: 0 10px 0 10px;
}

.mq-inner button {
    height: 100%;
}

.canvas-wrapper img {
    width: 100%;
    height: 100%;
}

#coordDisplay {
    color: white;
    white-space: pre-line;
}

.input-wrapper {
    width: 80%;
    height: 30%;
    margin: 10px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 320px 1fr 320px;
    grid-template-rows: 1fr;
    justify-items: center;
} 

.input-correction {
    grid-template-rows: 1fr 1fr;
}

.input-correction .mq-wrapper {
    grid-column: 1/4;
}

.input-correction .settings-wrapper {
    grid-row: 2;
}

.input-correction .render-wrapper {
    grid-row: 2;
    grid-column: 3;
}

.input-wrapper label {
    color: white;
}

.input-wrapper select {
    background-color: #111111;
    color: #ffffff;
    caret-color: #ffffff;
    border: none;
}

.input-box {
    background-color: #111111;
    color: #ffffff;
    caret-color: #ffffff;
    border: none;
    width: 100px;
}

input[disabled] {
    color: #646464;
}

.mq-wrapper {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
}

#mqInput {
    width: fit-content;
    height: fit-content;
    font-size: 45px;
    border: 2px solid black;
    background-color: #111111;
    color: #ffffff;
    caret-color: #ffffff;
}

#errorBox {
    color: red;
    font-size: 20px;
    padding: 10px;
}

.render-wrapper,.settings-wrapper {
    height: 50%;
    gap: 5px;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.settings-wrapper {
    grid-template-columns: 80px 1fr 1fr;
}

.render-wrapper {
    text-align: end;
    grid-template-columns: 120px 1fr 1fr;
}

.render-wrapper input, .settings-wrapper input {
    width: 100%;
}

#biasLabel {
    grid-column: 1/1;
}

#coloringMode {
    grid-column: 2/4;
}

.share-wrapper {
    position: relative;
}

#sharePopup {
    position: absolute;
    align-items: center;
    justify-content: space-between;
    left: 50%;
    top: -40px;
    height: 32px;
    padding: 5px;
    transform: translate(-50%, 0);
    background-color: #111111;
}

#sharePopup input {
    height: 100%;
}

#sharePopup button {
    background-color: transparent;
    margin: 0;
    height: 100%;
    margin-left: 5px
}

:root {
    touch-action: pan-x pan-y;
    height: 100%;
}