button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding: 0;
}

div {
  margin-left: 30px;
  margin-right: 30px;
}
