main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(15rem, 1fr) 4fr minmax(15rem, 1fr);
  grid-template-rows: 6rem 1fr;
  grid-template-areas:
    "topbar topbar topbar"
    "leftbar fractal rightbar";
  font-family: sans-serif;

  --primary-color: #242424;
  --secondary-color: #111111;
  --accent-color: #29aaff;
  --text-color: #ffffff;
}

main :global(*) {
  box-sizing: border-box;
  color: var(--text-color);
}

#topBar {
  background-color: orange;
  grid-area: topbar;
}

#sidebar {
  background-color: red;
  grid-area: leftbar;
}

#fractalWindow {
  background-color: green;
  grid-area: fractal;
}

#settingsBar {
  background-color: var(--primary-color);
  grid-area: rightbar;
}
